#put this file into /etc/systemd/system/ and run 'sudo systemctl daemon-reload && sudo systemctl enable fan_control.service && sudo systemctl start fan_control.sh'

[Unit]
Description=runs fan control for nvidia GPU temps
After=network.target

[Service]
ExecStart=/etc/init.d/fan_control.sh
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
